* {
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  & {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

/* Here we rewrite the default font-size of the browser, which defaults to 16px. The idea is to reset it to 10px so that the px to rem conversions are easier. This way you only do the calculation with 10 and not with 16 which is more complicated. But we can't just put 10px here because it locks the zoom, and users who zoom would not be able to use it if we put an absolute unit like pixels. So we convert it to % to keep it dynamic. The equivalence of putting 10px is 62.5% which represents the same and is also a good practice. */

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
